.google-account{
    width: 100%;
    height: 100vh;
    background-image: url("https://t4.ftcdn.net/jpg/03/33/95/45/360_F_333954582_N8aP0cr1LA4vgh7goQEkFMFF59ca9gYM.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-box{
    text-align: center;
}

.google-box h1{
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
